<div class="container" ng-controller="MainController as login">
	<div class="row">
		<div class="col-sm-6 col-md-4 col-md-offset-4">
		<h1>Login</h1>
			<form method="post" ng-submit="login.doLogin()">
			Username:<input type="text" name="username" class="form-control" ng-model="login.loginData.username" required>
				Password:<input type="text" name="password" class="form-control" ng-model="login.loginData.password" required>

				<button type="submit" class="btn btn-success">Login</button>

			</form>
		</div>
	</div>
</div>