<div class="container" ng-controller="UserCreateController as user">
	<div class="row">
		<div class="col-sm-6 col-md-4 col-md-offset-4">
		<h1>Signup</h1>
			<form class="form-sign" method="post" ng-submit="user.signupUser()">
				Name:<input type="text" name="name" class="form-control" ng-model="user.userData.name" required>
				Username:<input type="text" name="username" class="form-control" ng-model="user.userData.username" required>
				Password:<input type="text" name="password" class="form-control" ng-model="user.userData.password" required>

				<button type="submit" class="btn btn-success">Signup</button>
				
			</form>
		</div>
	</div>
</div>